<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Topページ</title>
</head>
<body>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="ログアウト">
	</form>
	<div>
		<h1>ようこそ！テスト自動採点システムへ！</h1>
		<p>下記よりメニューを選択してください</p>
	</div>
	<th:block th:if="${admin_flag == 1}">
	<!-- <th:block th:if="${questionlist.isEmpty() || calist.isEmpty()}">
	<form th:action="@{/qaregister}" method="POST">
	<input type="submit" value="問題を登録・編集する">
	</form>
	</th:block>
	<th:block th:unless="${questionlist.isEmpty() || calist.isEmpty()}"> -->
	<form th:action="@{/list}" method="POST">
	<input type="submit" value="問題を登録・編集する">
	</form>
	<!-- </th:block> -->
	<br>
	<form th:action="@{/test}" method="POST">
	<input type="submit" value="テストをする">
	</form>
	<br>
	<form th:action="@{/histories}" method="POST">
	<input type="submit" value="採点結果の履歴">
	</form>
	<br>
	<form th:action="@{/userlist}" method="POST">
	<input type="submit" value="ユーザーを追加・編集する">
	</form>
	</th:block>
	<th: block th:if= "${admin_flag != 1}">
	<form th:action="@{/test}" method="POST">
	<input type="submit" value="テストをする">
	</form>
	<br>
	<form th:action="@{/histories}" method="POST">
	<input type="submit" value="採点結果の履歴">
	</form>
	</th:block>
</body>
</html>