<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Topページ</title>
</head>
<body>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="ログアウト">
	</form>
	<div>
		<h1>ようこそ！テスト自動採点システムへ！</h1>
		<p>下記よりメニューを選択してください</p>
	</div>
	<form th:action="@{/list}" method="POST">
	<input type="submit" value="問題を登録・編集する">
	</form>
	<br>
	<form th:action="@{/test}" method="POST">
	<input type="submit" value="テストをする">
	</form>
	<br>
	<form th:action="@{/history}" method="POST">
	<input type="submit" value="採点結果の履歴">
	</form>
</body>
</html>