<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listページ</title>
</head>
<body>
	<div align="right">
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout">
		</form>
		<form th:action="@{/index}" method="POST">
			<input type="submit" value="Top">
		</form>
	</div>
	<div align="center">
		<h1>問題・答えの一覧</h1>
		<form th:action="@{/qaregister}" method="POST">
			<input type="submit" value="新規登録">
		</form>
	</div>
	<div th:each="question : ${questionlist}">
		<label for="question_id">問題：</label> <input type="text"
			name="Question" th:value="${question.question}">
	</div>
	<div th:each="CorrectAnswer : ${calist}">
		<label for="answer_id">答え：</label> <input type="text"
			name="CorrectAnswer" th:value="${CorrectAnswer.answer}">
		<th:block th:if="${CorrectAnswer != null}">
			<form th:action="@{/qaedit}" method="POST"
				th:object="${CorrectAnswer}">
				<input type="submit" value="編集"> <input type="hidden"
					name="questions_id" th:value="${CorrectAnswer.getQuestionsId()}">
				<input type="hidden"
					name="id" th:value="${CorrectAnswer.getId()}">
			</form>
		</th:block>
		<form th:action="@{/qadeleteconfirm}" method="POST" th:object="${CorrectAnswer}">
			<input type="submit" value="削除">
			 <input type="hidden"
					name="questions_id" th:value="${CorrectAnswer.getQuestionsId()}">
				<input type="hidden"
					name="id" th:value="${CorrectAnswer.getId()}">
		</form>
	</div>
</body>
</html>
