<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listページ</title>
</head>
<body>
<div align="right">
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="ログアウト">
	</form>
	<form th:action="@{/index}" method="POST">
	<input type="submit" value="Top">
	</form>
	</div>
	<div align="center">
	<form th:action="@{/register}" method="POST">
		<input type="submit" value="新規登録">
		</form>
	</div>
	
	<div>
		<h1>ようこそ！テスト自動採点システムへ！</h1>
		<p>下記よりメニューを選択してください</p>
	</div>
	<button>問題を登録・編集する</button>
	<br>
	<button>テストをする</button>
	<br>
	<button>採点結果の履歴</button>
</body>
</html>