<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Confirmページ</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div align="right">
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout">
	</form>
	<form th:action="@{/index}" method="POST">
	<input type="submit" value="Top">
	</form>
	</div>
	<h1>問題・答えの編集確認</h1>
	<form th:action="@{/qaeditconfirm2}" method="POST">
	<label for="question_id">問題：</label> <input type= "text" name= "question" class= "question" th:value ="${question}">
	<input type= "hidden" name = "questions_id" th:value ="${questions_id}">
	<input type= "hidden" name = "answer_id" th:value ="${answer_id}">
	<br>
	<label for="answer_id">答え：</label>
	<div th:each="answer : ${answer}">
	 <input type= "text" name= "answer" class= "answer" th:value ="${answer}">
	 </div>
	 <br>
	<input type="submit" value="更新">
	</form>
	</body>
</html>