<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registerページ</title>
<!-- src/main/resources/static/js/checkQa.jsを読み込む -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{js/checkQa.js}"></script>
<script th:src="@{js/addForm.js}"></script>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div align="right">
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout">
		</form>
		<form th:action="@{/index}" method="POST">
			<input type="submit" value="Top">
		</form>
	</div>
	<h1>問題・答えの新規登録</h1>
	<form id="qaForm" th:action="@{/qaregconfirm}" th:method="POST">
		<label for="question_id">問題：</label>
		 <input type="text"
			name="Question" id="question" class= "question">
		<p th:text="${error_message_question}"></p>
		<label for="answer_id">答え：</label>
		<div id= "form_area">
		<input type="text" name="answer"
			id="answer" class="answer"><br>
			</div>
			<input type= "button" value= "フォーム追加" onclick="addForm()">
		<p th:text="${error_message_answer}"></p>
		<button type="submit" id="qaButton">確認</button>
	</form>
</body>
</html>