<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Confirmページ</title>
</head>
<body>
<div align="right">
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout">
	</form>
	<form th:action="@{/index}" method="POST">
	<input type="submit" value="Top">
	</form>
	</div>
	<h1>問題・答えの登録確認</h1>
	<form th:action="@{/qadbregister}" method="POST">
	<label for="question_id">問題：</label> <input type= "text" name= "Question" th:value ="${Question}"> <br>
	<label for="answer_id">答え：</label> <input type= "text" name= "answer" th:value ="${answer}"> <br>
	<input type="submit" value="登録">
	</form>
	</body>
</html>