<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registerページ</title>
</head>
<body>
<div align="right">
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout">
	</form>
	<form th:action="@{/index}" method="POST">
	<input type="submit" value="Top">
	</form>
	</div>
	<h1>問題・答えの新規登録</h1>
	<form th:action="@{/qaregconfirm}" th:method="POST">
	<label for="question_id">問題：</label>
	 <input type= "text" name= "Question" th:object= "${questionRequest}">
	 <input type= "hidden" name= "questions_id" th:value= "${questionRequest}">
	 <p th:text= "${error_message_question}"></p>
	 <br>
	<label for="answer_id">答え：</label> <input type= "text" name= "answer" th:object= "${CARequest}"><br>
	 <input type= "text" name= "answer" th:object= "${CARequest}"><br>
	 <input type= "text" name= "answer" th:object= "${CARequest}">
	 <p th:text= "${error_message_answer}"></p>
	<input type= "hidden" name= "answers_id" th:object= "${CARequest}">
	<input type= "hidden" name= "answers_id" th:object= "${CARequest}">
	<input type= "hidden" name= "answers_id" th:object= "${CARequest}">
	<br>
	<input type= "submit" value="確認">
	</form>
	</body>
</html>